body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  background-color: #2A2A2A !important;
}

#background {
  display: flex;
  flex: 1 0;
  justify-content: center;
}

#root {
  display: flex;
  flex: 1 0;
  max-width: 1000px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.tff') format('truetype');
}
